body {
  color: red;
  background-image: url("https://www.yourtango.com/sites/default/files/styles/body_image_default/public/image_list/Trump16.jpg?itok=t1cx4K8v");
}

.navbar {
  background-color: red;
}